# Dependencies
package-lock.json
node_modules

# jsdoc output
docs

# jest coverage output
coverage

# tests output
spec/support/out

# some test support files
spec/support/templates/fooTemplate/bar/cfg/cfg.txt

# logs
*.log
