{{#ant.service}}
service:
  name: {{{ant.service}}}
{{/ant.service}}

provider:
  name: aws
  {{#config.profile}}
  profile: {{{config.profile}}}
  {{/config.profile}}

package:
  individually: true

{{#functions.length}}
functions:
{{#functions}}
  {{{name}}}:
    handler: {{{handlerModule}}}
    package:
      individually: true
      artifact: {{{name}}}.zip
{{/functions}}
{{/functions.length}}
